/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 2.4rem;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}

.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
@import url('https://fonts.googleapis.com/css?family=Lato:400, 700');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #C3C7C9;

}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*--navigation--*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: whitesmoke;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: blue;
}

/*--logo--*/

.navbar-brand img {
  height: 2rem;
}

/*--landing--*/

.home-inner {
  background: url(barber-shop.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: whitesmoke;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

/*--Caption Section--*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 2.4rem;
}

/*--Jumbotron Statement Section--*/

.jumbotron {
  padding-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

.jumbotron p {
  color: black;
}

.jumbotron h1 {
  color: #0BDBF8;
  padding-top: -4rem;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
  color: #0BDBF8;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: blue;
  margin: 0 auto 2rem;

}

.fa-dollar-sign {
  color: seagreen;
}

.fa-cut {
  color: orange;
}

.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
  color: black;
}

.feature p {
  font-size: 1.1rem;
  color: black;
}

/* Client Section */
.clients img {
  width: 100%;
  border-radius: 50%
}

blockquote .fa-quote-left {
  height: 20px;
  width: 20px;
  color: orange;
  margin: 2rem;
}

.clients-hr {
  border-top: .05rem solid orange;

}